.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #7a818e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-textfield .MuiOutlinedInput-notchedOutline {
  border-color: rgb(252, 249, 249);
 
}
.custom-textfield input::placeholder {
  color: rgb(253, 250, 250) !important;
}

.custom-textfield input {
  color: rgb(252, 251, 251) !important;
}

.custom-textfield .MuiInputLabel-outlined {
  color: rgb(250, 247, 247) !important;
}